<div class="services">
	   <div class="servicesGrayBox">
	      <div class="servicesTextBox"><h2><%= image_tag "logoOrange.png" %>Research</h2></div>
	      <div class="servicesTextBoxDashed"><h2><%= image_tag "logoGreen.png" %>Interaction Design</h2></div>
	      <div class="servicesTextBox"><h2><%= image_tag "logoBlue.png" %>Development</h2></div>
	   </div>

	   <div class="servicesTextDetail">
	      <h3>User Research</h3>
	      <p>Getting to know the people who use your technology makes for better design and a more satisfying user experience. We are experienced in a variety of user research methods, such as interviews, participant observation, surveys, and diary studies, that produce a wealth of useful knowledge about your audience.
        </p>
	      <h3>Conceptualization</h3>
	      <p>Whether you’re just forming an idea for a new site or app or you’re seeking to expand or revitalize an existing one, we can help. We deeply understand technology and its place in society, and we maintain thorough knowledge of cutting edge technology research and practice in fields such as social computing, social movements, and learning sciences. With this knowledge, we can review the state of the art and suggest new directions and concepts for your technical product.
        </p>
              <h3>Social Media Analytics</h3>
              <p>Social media like Facebook and Twitter have become highly important channels through which to reach your audience. We can advise you on effective strategies for expanding your social media presence. We are also well versed in techniques for analyzing the large volumes of information available from social media to help you learn more about your audience or other phenomena of interest.</p>
              <h3>Site Traffic Optimization</h3>
              <p>We know how to get more people to your site and keep them there. We can help you plan a strategy that includes restructuring and redesigning your site to improve search engine ranking and build loyalty, selecting appropriate advertising products, and building links to other trusted sites in your field. And we can show you how to use industry standard tools to watch your traffic grow.</p>
	   </div>

	   <div class="servicesTextDetailDashed">
	      <h3>Expert Review</h3>
	      <p>Usability heuristic evaluation</p>
	      <h3>Information Architecture</h3>
              <p>Information design of the system</p>
              <h3>Wireframing and Prototyping</h3>
	      <p>Low and high fidelity mockups and prototypes</p>
	      <h3>Usability Testing</h3>
 	      <p>Testing in the lab and in the wild</p>
 	      <h3>Graphic Design</h3><br/>
	   </div>

	   <div class="servicesTextDetail">
	      <h3>Custom Web Applications</h3>
	      <p>Rails,PHP,Django</p>
	      <h3>Mobile Apps</h3>
	      <p>Android, iOS</p>
              <h3>Rich Web Interactivity</h3>
	      <p>HTML5, AJAX</p>
	      <h3>Content Management Systems</h3>
 	      <p>Wordpress, Drupal</p>
	      <h3>Custom CMS Plugins</h3>
	      <p>Wordpress,Drupal,MediaWiki</p>
	   </div>

      </div>