<div>
  <h2>Experienced Rails Developer</h2>

  <p>Sassafras Tech Collective is looking for an experienced Ruby on Rails developer to work on exciting, high-impact projects related to social justice. We need someone who is able to jump in and get started. We are ideally looking for someone who has experience with:</p>
  <ul>
    <li>Object-oriented design</li>
    <li>Testing</li>
    <li>Agile processes</li>
    <li>Working independently</li>
  </ul>

  <p>Sassafras Tech Collective is a worker-owned tech consulting cooperative based in Ann Arbor, MI. We research, design, and develop technology projects that focus on social change and social justice.</p>

  <p>Some of our projects include work that focuses on:</p>
  <ul>
    <li>Election observation systems in the Global South</li>
    <li>Worker co-op micro loans in disadvantaged communities</li>
    <li>Ending gender/LGBTQ-based violence</li>
    <li>Health and disadvantaged communities</li>
  </ul>

  <p>As an employee of Sassafras, you will have the opportunity to become a full worker-owner after an initial candidacy period of 6-12 months. We offer benefits such as generous paid time off, health insurance, flexible hours, and rad projects.</p>

  <p>We have a preference for folks who are local to Ann Arbor, Michigan, but we are open to talking to remote folks as well. People traditionally underrepresented in the tech industry, especially women, LGBTQ folks, and men of color are strongly encouraged to apply.</p>

  <p>If you are interested, please send a resume and code sample to <a href="contact">info@sassafras.coop</a>. We look forward to hearing from you!</p>
</div>
