<section class="section">
  <section id="job-openings">
    <h2>Job Openings</h2>
    <p>We are always interested in meeting people. If you are interested in what we are doing and would like to know more, please reach out to us through our <a href="contact" target="_blank">contact page</a>.</p>

    <p>We would especially love to hear from you if any of the below describe you:</p>
    <ul>
      <li>You have experience building websites and web applications, especially complex ones.</li>
      <li>You have experience managing large technology projects, especially ones that involve building and designing custom software.</li>
      <li>You have experience building projects with Ruby on Rails and JavaScript.</li>
      <li>You are interested in the intersection of technology and social justice.</li>
    </ul>

  </section>

  <div class="divider"></div>

  <section>
    <h2>Working at Sassafras</h2>

    <p>Sassafras Tech Collective is a growing worker-owned technology cooperative specializing in web and application design and development for social justice organizations, nonprofits, academics, artists, and others.</p>

    <p>We are a worker cooperative, which is a business owned and democratically controlled by its workers. After a candidacy period, workers are eligible to become member-owners, which entitles them to equal ownership of the business. We currently have 5 member-owners and 2 prospective members.</p>

    <p>Much of our work involves consulting with nonprofits and universities to build custom web applications to meet their needs. These projects primarily have a social justice focus. We also help individuals and small nonprofits build a web presence. The software we build and use depends on the needs of our clients, but we often work with Ruby on Rails, JavaScript frameworks, and WordPress.</p>
  </section>

  <section>
    <h2>Benefits</h2>

    <ul>
      <li>We offer health, dental, and vision insurance.</li>
      <li>We offer paid time off.</li>
      <li>We offer a flexible work schedule for our workers. Part-time workers are welcome.</li>
      <li>We are a distributed team. Our team works remotely and from our office in Ann Arbor (southeast Michigan).</li>
      <li>We gather regularly for social time.</li>
    </ul>
  </section>

  <section>
    <h2>Values</h2>

    <ul>
      <li>We love designing and building technologies that are tied to social justice.</li>
      <li>We value collaboration and welcome the input of everyone on our team.</li>
      <li>We share duties and responsibilities and give everyone a chance to lead.</li>
      <li>Given the lack of diversity in technology, we strive to create an environment that is accepting, welcoming, and sustainable to underrepresented groups including white women, women of color, men of color, people with disabilities, and those who identify as genderqueer and transgender.</li>
      <li>We value building and maintaining a workplace environment that allows all on our team to thrive.</li>
    </ul>
  </section>

  <section>
    <h2>Apprenticeships</h2>

    <p>Sassafras Tech Collective is committed to making sure people from underrepresented groups have access to technology careers. One of the ways we are committed to doing this is through apprenticeships. One of our long term goals is to take on apprentices and build an apprenticeship program. We currently do not offer apprenticeships.</p>
  </section>
</section>
