<section class="section">
  <h2>Working at Sassafras</h2>

  <p>Sassafras Tech Collective is a growing worker-owned technology cooperative specializing in web and application design and development for social justice organizations, nonprofits, academics, artists, and others.</p>

  <p>We are a worker cooperative, which is a business owned and democratically controlled by its workers. After a candidacy period, workers are eligible to become member-owners, which entitles them to ownership of the company and equal say regarding the direction of the company.</p>

  <p>Our team works remotely and from our office in Ann Arbor, MI. We are open to working with people who are not local to southeast Michigan.</p>

  <p>We primarily work with Ruby on Rails along with some WordPress. Much of our work involves consulting with nonprofits and universities to build custom web applications to meet their needs. These projects primarily have a social justice focus. We also help individuals and small nonprofits build a web presence.</p>

  <p>We are always interested in meeting people who care about using technology skills to serve. If you are interested in what we are doing and would like to know more, please reach out to us through our contact page. If you want to know more about our vision, please see our bylaws.</p>


  <h2>Current Needs</h2>

  <p>We need people with strong experience in Ruby on Rails.</p>

  <ul>
    <li><a href="#rails-contractor">Experienced Rails Developer (contractor)</a></li>
  </ul>


  <h2>Benefits</h2>

  <ul>
    <li>We offer a flexible work schedule for our workers. Part-time workers are welcome.</li>
    <li>Health insurance is provided for employees via our Blue Cross Blue Shield group plan.</li>
    <li>We gather twice monthly for social time outside the office ("Sassy Hours").</li>
  </ul>


  <h2>Values</h2>

  <ul>
    <li>We wish to create an example of an anti-oppressive workplace while also designing technologies that are tied to social justice.</li>
    <li>Given the lack of diversity in technology, we strive to create an environment that is accepting, welcoming, and sustainable to underrepresented groups, including white women, women of color, men of color, gender queer, and differently abled people.</li>
    <li>We value collaboration and welcome the input of everyone at our company. Everyone has a voice.</li>
    <li>We share duties and responsibilities and give everyone a chance to lead. For example, during our weekly meetings as a company, every worker facilitates the meeting on a regular basis.</li>
  </ul>


  <h2>Apprenticeships</h2>

  <p>Sassafras Tech Collective is committed to making sure people from underrepresented groups have access to technology careers. One of the ways we committed to doing this is through apprenticeships. Long term, we hope to take on apprentices. At this time, we are at capacity in terms of our ability to take on apprentices or interns.</p>


  <hr>

  <h2>Job Openings</h2>

  <div>
    <h3 id="rails-contractor">Experienced Rails Developer</h3>

    <p>Sassafras Tech Collective is looking for an experienced Ruby on Rails contractor to work on an exciting high-profile project relating to social justice.</p>

    <p>Sassafras Tech Collective (<a href="http://sassafras.coop">sassafras.coop</a>) is a worker-owned tech consulting cooperative based in Ann Arbor, MI. We research, design, and develop technology projects that focus on social change and social justice.</p>

    <p>We are ideally looking for someone who has experience with:</p>

    <ul>
      <li>Object-oriented design</li>
      <li>Backbone.js</li>
      <li>HTML/CSS</li>
      <li>Testing</li>
      <li>Agile processes</li>
      <li>Working independently</li>
      <li>Social justice</li>
    </ul>

    <p>Project management will be handled here at Sassafras. You can expect a very clear, organized, and transparent management style. We use Redmine for issue tracking. We will also be performing code reviews.</p>

    <p>Ideally, the right person would be interested in working with Sassafras longer term and possibly be interested in joining us. If you are interested, please send a resume and code sample to info@sassafras.coop. We look forward to hearing from you!</p>
  </div>
</section>
