<section class="section">
  <section>
    <h2>Working at Sassafras</h2>

    <p>Sassafras Tech Collective is a growing worker-owned technology cooperative specializing in web and application design and development for social justice organizations, nonprofits, academics, artists, and others.</p>

    <p>We are a worker cooperative, which is a business owned and democratically controlled by its workers. After a candidacy period, workers are eligible to become member-owners, which entitles them to ownership of the company and equal say regarding the direction of the company. We currently have 5 member-owners and 1 prospective member-owner.</p>

    <p>Our team works remotely and from our office in Ann Arbor, MI. We are open to working with people who are not local to southeast Michigan.</p>

    <p>Much of our work involves consulting with nonprofits and universities to build custom web applications to meet their needs. These projects primarily have a social justice focus. We also help individuals and small nonprofits build a web presence. The software we build and use depends on the needs of our clients, but we often work with Ruby on Rails, WordPress, and Backbone.</p>

    <p>We are always interested in meeting people who care about using technology skills to serve. If you are interested in what we are doing and would like to know more, please reach out to us through our <a href="contact">contact page</a>.</p>
  </section>

  <section>
    <h2>Benefits</h2>

    <ul>
      <li>We offer a flexible work schedule for our workers. Part-time workers are welcome.</li>
      <li>Health insurance is provided for employees via our Blue Cross Blue Shield group plan.</li>
      <li>We gather regularly for social time outside the office ("Sassy Hours").</li>
    </ul>
  </section>

  <section>
    <h2>Values</h2>

    <ul>
      <li>We wish to create an example of an anti-oppressive workplace while also designing technologies that are tied to social justice.</li>
      <li>Given the lack of diversity in technology, we strive to create an environment that is accepting, welcoming, and sustainable to underrepresented groups, including white women, women of color, men of color, those who identify as genderqueer and transgender, and people with disabilities.</li>
      <li>We value collaboration and welcome the input of everyone at our company. Everyone has a voice.</li>
      <li>We share duties and responsibilities and give everyone a chance to lead.</li>
    </ul>
  </section>

  <section>
    <h2>Apprenticeships</h2>

    <p>Sassafras Tech Collective is committed to making sure people from underrepresented groups have access to technology careers. One of the ways we committed to doing this is through apprenticeships. Long term, we plan to take on apprentices and build an apprenticeship program.</p>
  </section>

  <div class="divider"></div>
  <section id="job-openings">
    <h2>Job Openings</h2>

    <p>There are currently no open positions.</p>
  </section>
</section>
