<section class="section">
  <h1>Project Planner</h1>

  <p>Sassafras Tech Collective is looking for an energetic and focused project planner to join our diverse and growing team. We specifically need someone who can shepherd a software project from the early requirements gathering and design stages and into a clear set of user stories ready for development, and then continue to work with developers as the product is built, monitoring quality with each release. The job blends user experience, project/product management, and quality assurance skills. Specifically, it would include:</p>

  <ul>
    <li>Extensive communication with clients to gather requirements</li>
    <li>Persona development</li>
    <li>User story authoring</li>
    <li>Wireframing</li>
    <li>Working with developers to ascertain technical feasibility and estimates</li>
    <li>Maintaining a high-level feature roadmap</li>
    <li>Maintaining the project backlog (task list)</li>
    <li>Triaging bug reports</li>
    <li>Managing developers and coordinating their work</li>
    <li>Translating new functionality requests into new features or changes to existing features</li>
    <li>Planning releases, managing scope, and setting order of task completion</li>
    <li>Testing new releases before delivery to client</li>
    <li>Writing documentation</li>
    <li>Managing the project budget</li>
  </ul>

  <p>As this broad list of competencies demonstrates, the applicant should be well-rounded and interested in participating in many aspects of a small tech consulting firm. Applicants should have a deep knowledge of what excellent software looks like and how it is made.</p>

  <p>The following skills would be an asset but are not required:</p>

  <ul>
    <li>Graphic design skills</li>
    <li>Programming (Ruby on Rails, JavaScript)</li>
    <li>Server administration</li>
  </ul>

  <p>This position should be considered temporary for a period of 6 months, with a good likelihood of being made permanent and becoming a member-track position.</p>

  <div class="content-block">
  <h2>About Sassafras</h2>
  <p>Sassafras Tech Collective is a tech consulting worker co-op based in Ann Arbor, MI. The worker co-op model is a different way of doing business that brings democracy into the workplace.</p>

  <p>We research, design, and develop technology projects that focus on social change and social justice. Some of our projects include work that focuses on:</p>
  <ul>
    <li>Election observation systems in the Global South</li>
    <li>Local and democratic currencies</li>
    <li>Worker co-op micro loans in disadvantaged communities</li>
    <li>Ending gender/LGBTQ-based violence</li>
    <li>Health and disadvantaged communities</li>
  </ul>

  <p>Employees of Sassafras are initially considered "provisional members." They are expected to transition to full worker-ownership after an initial candidacy period of 6-12 months. All worker-owners have equal ownership of the co-op.</p>

  <p>Benefits include generous paid time off, health insurance, equipment allowances, flexible hours, and rad projects.</p>

  <p>We care deeply about social justice and the safety and conviviality of our office environment. See our <%= link_to 'Bylaws', bylaws_path %> and <%= link_to 'Code of Conduct', code_of_conduct_path %> for more information. We host a monthly social justice reading group and twice monthly social events. We also periodically go on group outings to social justice related events in Southeast Michigan.</p>

  <p>We have a preference for folks who are local to Ann Arbor, Michigan, but we are open to talking to remote folks as well. People traditionally underrepresented in the tech industry, especially women, LGBTQ folks, and men of color are strongly encouraged to apply.</p>

  <p>If you are interested, please send a resume to info@sassafras.coop. We look forward to hearing from you!</p>
  </div>

</section>
