<section class="section">
  <h1>Rails Developer</h1>

  <h2>About Sassafras Tech Collective</h2>
  <p>Sassafras Tech Collective is a tech consulting worker cooperative based in Ann Arbor, MI. We are a worker-owned small business. Our small team researches, designs, and develops technology projects that focus on social change and social justice.</p>

  <h2>About This Position</h2>
  <p>Sassafras Tech Collective is looking for experienced Ruby on Rails developers.</p>

  <h3>We are ideally looking for someone who:</h3>
  <ul>
    <li>has extensive experience with Ruby on Rails</li>
    <li>has worked with complex backend architectures</li>
    <li>has a solid understanding of object-oriented design</li>
    <li>can write clean, maintainable, and readable code</li>
    <li>is familiar with test driven development using rspec</li>
  </ul>

  <h3>You are:</h3>
  <ul>
    <li>comfortable working with a distributed team using Slack and Zoom</li>
    <li>proficient in oral and written communication skills</li>
    <li>interested in working with a cooperative, democratic workplace</li>
    <li>comfortable working both independently and in teams</li>
    <li>excited to work on socially conscious and social justice projects</li>
  </ul>

  <h2>More About This Position</h2>
  <p>This is a part-time contract position with an expected workload of 9-15 billable hours per week.</p>

  <p>Pay for this position is negotiable based on experience.</p>

  <p>We plan to hire two contractors. The positions will begin in early August and extend through early September, with the possibility of an extension.</p>

  <p>We are interested in working with people traditionally underrepresented in the tech industry, including women and LGBTQ folks. We especially encourage applications from people of color of all genders.</p>

  <h2>Apply for This Position</h2>
  <p>Please send a resume and brief cover letter to hiring@sassafras.coop with the subject “Rails Developer.” Please let us know in your cover letter how you heard about this opening. We look forward to hearing from you!</p>
</section>
