<section class="section">
  <h1>Rails Developer</h1>

  <p>
    Sassafras Tech Collective is a growing worker-owned technology cooperative, specializing in web and application design and development for social justice organizations, nonprofits, academics, artists, and others. We are a worker cooperative, which means that the business is owned and democratically controlled by its workers. In general, projects have a social justice focus.
  <p>
  <p>
    The software we build and use depends on the needs of our clients, but we often work with Ruby on Rails and Javascript.
  </p>
  <p>
    Sassafras Tech Collective is looking for an experienced Ruby on Rails developer to work on exciting, high-impact projects related to social justice. We need someone who is able to jump in and get started.
  </p>

  <h3>We are ideally looking for someone who:</h3>
  <ul>
    <li>has experience with Ruby on Rails</li>
    <li>has worked with complex backend architectures</li>
    <li>has a solid understanding of object-oriented design</li>
    <li>has a good understanding of front-end technologies, such as JavaScript, HTML5, and CSS3</li>
    <li>can write and maintain clean, well-organized, and readable code</li>
    <li>is familiar with writing tests and test driven development</li>
    <li>has experience with agile processes</li>
  </ul>

  <h3>You are:</h3>
    <li>compassionate about social change</li>
    <li>flexible but committed to a set number of hours of work per week</li>
    <li>collaborative and open to using social tools like Slack and Skype</li>
    <li>proficient in oral and written communication skills</li>
    <li>comfortable working in a collaborative, non-hierarchical, and democratic workplace</li>
    <li>comfortable working both independently and in teams</li>
    <li>interested in socially conscious and social justice projects</li>
    <li>good at solving social and technical problems</li>
  </h3>

  <p>As an employee of Sassafras, you will have the opportunity to become a full worker-owner after an initial candidacy period of 6-12 months.</p>

  <h2>About Sassafras</h2>
  <p>Sassafras Tech Collective is a tech consulting worker co-op based in Ann Arbor, MI. The worker co-op model is a different way of doing business that brings democracy into the workplace. We research, design, and develop technology projects that focus on social change and social justice. Some of our projects include work that focuses on:</p>

  <ul>
    <li>Worker co-op micro loans in disadvantaged communities</li>
    <li>Ending gender/LGBTQ-based violence</li>
    <li>Health and disadvantaged communities</li>
    <li>Election observation systems in the Global South</li>
  </ul>

  <p>
    We offer competitive compensation. Benefits include generous paid time off that supports families of all forms, health insurance, equipment allowances, flexible hours, and the opportunity to work on radical projects.
  </p>

  <p>
    We have a preference for folks who are local to Ann Arbor, Michigan, but we are open to remote folks as well. We are interested in working with people traditionally underrepresented in the tech industry, including women and LGBTQ folks. We especially encourage applications from people of color of all genders.
  </p>

  <p>
    If you are interested, please send a resume and brief cover letter to hiring@sassafras.coop. We look forward to hearing from you!
  </p>
</section>
