<div class="bigLogo"><%= image_tag "bigLeaf.png" %></div>
<h1>We craft <span class="greenText">beautiful</span>, <span class="blueText">usable</span> <br/>web &amp; mobile apps</h1>
<a class="readMoreLink" href="about.html">read more <div>)</div></a>
<div class="services">
  <a href="/services"><h2>Development</h2><h3>The latest web &amp; mobile app technologies</h3></a>
  <a href="/services"><h2>Interaction Design</h2><h3>People centered designs</h3></a>
  <a href="/services"><h2>Research</h2><h3>Deep insights into technology</h3></a>
</div>
