<div class="bigLogo"><%= image_tag "bigLeaf.png" %></div>
<h1>We craft <span class="greenText">beautiful</span>, <span class="blueText">usable</span> <br/>web &amp; mobile apps</h1>
<a class="readMoreLink" href="/about">read more <div>)</div></a>
<div class="services">
  <a href="/services"><strong>Development</strong>The latest web &amp; mobile app technologies</a>
  <a href="/services"><strong>User Experience Design</strong>A people-centered <br/> design process</a>
  <a href="/services"><strong>Research</strong>Deep insights about technology and people</a>
</div>
<div class="attrib">
  Background art by Pete Yahnke Railand
</div>
