<div class="mainContent">
  <div class="bigLogo"><%= image_tag "bigLeaf.png" %></div>
  <h1>Crafting <span class="greenText">innovative</span>, <span class="blueText">usable</span><br/>
  technology for social change</h1>
  <a class="readMoreLink" href="/about">read more <div>)</div></a>
  <div class="services">
    <a href="/services"><strong>Development</strong>The latest web &amp; mobile app technologies</a>
    <a href="/services"><strong>User Experience Design</strong>A people-centered <br/> design process</a>
    <a href="/services"><strong>Research</strong>Deep insights about technology and people</a>
  </div>
</div>
<div class="connectHome">
  <div class="connectSection connect">
    <h1>Connect With Us</h1>
    <p class="icons">
      <a href="http://www.linkedin.com/company/sassafras-tech-collective"><span class="fa fa-linkedin-square"></span></a>
      <a href="https://github.com/sassafrastech"><span class="fa fa-github"></span></a>
      <a href="https://twitter.com/sassafrastech"><span class="fa fa-twitter-square"></span></a>
    </p>
  </div>
  <div class="connectSection twitter">
    <h1>News</h1>
    <div id="twitterFeed">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/sassafrastech" data-widget-id="530716173323608064" data-link-color="#FF8B00" data-chrome="noheader nofooter noborders" data-border-color="#666" data-tweet-limit="3">Tweets by @sassafrastech</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  <div class="connectSection contact">
    <h1>Contact</h1>
    <p>We'd love to hear from you and learn more about your needs.</p>
    <p><a href="contact">info@sassafras.coop</a></p>
    <%= image_tag "logoAnnArbor.png" %>
  </div>
</div>
