<section class="section documents">
  <h1>Code of Conduct</h1>
  <iframe
    src="https://docs.google.com/document/d/1stHBYYvulnvbD91o4islpdQuExYhVPdEXJxNmJWmQsQ/pub?embedded=true">
  </iframe>
</section>
