<div class="aboutMain">
  <h1>
    We are a growing <a href="http://en.wikipedia.org/wiki/Worker_cooperative">worker-owned technology cooperative</a> specializing 
    in web/app design and development for social justice orgs, non-profits, academics, artists, and others.
  </h1>

  <h2>We deeply understand technology.</h2>

  <div class="blurb">
    Bringing years of expertise from industry, academia, and social justice organizing, we understand 
    the values that are embedded in code and design. We help to elicit these values to make beautiful, 
    appropriate, and easy to use technologies.
    As our logo reflects, we are based in Michigan helping to bring life back into our home.
  </div>

  <%= divider %>

  <div class="aboutContainer">
    <div class="personContainer">
      <%= image_tag "jill.png" %>
      <h3>Jill Dimond</h3>
      <p>Human Centered Computing PhD <br/>Georgia Tech</p>
      <p>Worked at Google and BlinkUX</p>
    </div>
    <div class="personContainer">
      <%= image_tag "tom.png" %>
      <h3>Tom Smyth</h3>
      <p>Computer Science PhD <br/>Georgia Tech</p>
      <p>Worked at Microsoft Research</p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>