<div>
  <h1>
    We are a growing <a href="http://techworker.coop">worker-owned technology cooperative</a> specializing in web/app design and development for social justice organizations, non-profits, academics, artists, and others.
  </h1>

  <h2>We deeply understand technology.</h2>

  <div class="blurb">
    <p>Bringing years of expertise from industry, academia, and social justice organizing, we understand the values that are embedded in code and design. Our mission is to elicit these values to make beautiful, appropriate, and easy to use technologies. In particular, we are interested in work that promotes:</p>
    <ul>
      <li> sharing and solidarity economies</li>
      <li> participatory democracies </li>
      <li> healthful living </li>
      <li> environmental justice and sustainability </li>
      <li> ending oppression at the intersections of gender, race, class, sexuality, and ability </li>
      <li> community and individual empowerment </li>
    </ul>

    <p>We are a member of the United States Federation of Worker Coops (<%= link_to "USFWC", "http://usworker.coop/", target: "_blank" %>). We are also member of the <a href="http://techworker.coop/">Tech Co-op Network</a>, a network of worker cooperatives focused on technology. Worker cooperatives are "businesses owned and democratically controlled by" their workers.</p>

    <p>As our logo reflects, we are based in Michigan helping to bring life back into our home.</p>
  </div>

  <h4>Links and Resources</h4>
  <ul>
    <li><a href="https://github.com/sassafrastech/bylaws/blob/master/bylaws.md">Bylaws of Sassafras Tech Collective</a></li>
    <li><a href="https://drive.google.com/file/d/0B1c_DBNPUgIuYldlZ1ZQSnljY28">"Anti-Oppressive Design"</a> by Thomas Smyth and Jill Dimond</li>
  </ul>

  <h4>Credits</h4>
  <ul>
    <li>Background art by
      <a href="http://justseeds.org/artists/pete_yahnke_railand/">
        Pete Yahnke Railand (Justseeds Collective)
      </a>
    </li>
    <li>Twin pines worker cooperative logo adapted from
      <a href="http://cooperationtexas.coop/">
        Cooperation Texas
      </a>
    </li>
  </ul>
</div>
