.about {

  /* gutters */
  .main {
    padding: 0;
    background: $white;
  }

  section {
    width: auto;
    padding: 2em 20%;

    @media screen and (max-width: 1090px) {
      width: 96%;
      margin: 0;
      padding: 2em 2%;
    }

    h1 {
      font-family: allerregular;
      font-weight: bold;
      text-transform: uppercase;
      color: $accent1;
    }
  }

  /* tagline at top */
  .tagline {
    font-family: Georgia;
    font-size: 21px;
    color: gray;
    font-style: italic;
    text-align: center;
    font-weight: 100;
    margin: 0;
    line-height: 30px;
    letter-spacing: 1.3px;
    text-transform: none;
  }

  /* deeply */
  h2 {
    color: #333333;
    text-align: center;
    margin: 50px 0px;
  }

  .row {
    display: flex;

    .column {
      width: 33%;
      box-sizing: border-box;
      padding: 2%;
    }

    @media screen and (max-width: 1090px) {
      width: 100%;
    }
  }

  .blurbs, .membership {
    img {
      height: 100px;
    }
  }

  .membership {
    text-align: center;

    img {
      width: auto;
      margin: 0 auto;
    }

    p {
      text-align: left;
    }
  }

  .blurb {
    display: block;
    text-align: center;
    margin: 0 0 2em;

    @media screen and (min-width: 700px) {
      text-align: left;
      display: inline-flex;
      align-items: start;
      justify-content: center;
      margin-top: 2em;
    }

    img {
      // display: inline-block;
      // margin: 0 1em 0 0;
      opacity: .5;
      padding-right: 1em;
      // align-self: flex-start;
    }

    h2 {
      margin: 0 0 .5em;

      @media screen and (min-width: 700px) {
        text-align: left;
      }
    }

    p {
      margin: 0;
    }
  }

  .membership {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 1em;

    h4 {
      font-size: 1em;
      margin: 0;
    }

    p {
      margin: 0;
    }

    div {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }

    img {
      height: auto;
      width: 60px;
      margin: 0 .5em 0 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  section:nth-child(odd) {
    background: $gray3;
  }

  ul {
    padding: 0 0 0 1.25em;
  }

  .credits {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 1em;
    }
  }
}
