.about {

  /* gutters */
  .main > div {
    width: 60%;
    margin: 0 auto;

    @media screen and (max-width: 1090px) {
      width: 100%;
    }
  }

  /* tagline at top */
  h1 {
    font-family: Georgia;
    font-size: 21px;
    color: gray;
    font-style: italic;
    text-align: center;
    font-weight: 100;
    margin-top: 0;
    line-height: 30px;
    letter-spacing: 1.3px;
  }

  /* deeply */
  h2 {
    color: #333333;
    text-align: center;
    margin:50px 0px;
  }

  .blurb {
    text-align: justify;
  }
}
