.contact {
  section.main {
    text-align: center;
  
    form {
      width: 250px;
      font-family: AllerRegular, sans-serif;
      font-size: 14px;
      line-height: 24px;
      font-weight: bold;
    }
  
    input, textarea {
      width: 300px;
      display: block;
      border: 1px solid #999;
      margin: 0;
      padding: 2px;
    }
    
    input {
      height: 25px;
    }
    
    textarea {
      height: 200px;
    }
  }
}