$linkColor: #FF8B00;

.attrib {
  font-size: 10px;
  font-color: gray;
  margin-top: 70px;
  margin-right: 5px;
}

.home {
  /* no grey background like elsewhere */
  background-color: white;

  /* header */
  div.banner {

    background-color: white;
    background: none;
    height: 140px;

    div.nav a {
      color: #999999;
    }

    div.nav a:hover {
      color: black;
    }
  }

  .main {
    background: rgb(102,102,102);
    background: transparent;
    overflow: auto;
    padding: 0;
  }

  /* main section */
  .mainContent {
    /* override background image */
    background: url('treeBg.png') repeat !important;

    /* other stuff */
    height: 450px;
    text-align: right;
    padding: 0 !important;

    /* big leaf thing */
    .bigLogo {
      position: absolute;
      top: 165px;
      margin-left: -5px;
      z-index: 100;
    }

    /* tag line */
    h1 {
      font-family: aller_lightregular;
      font-size: 38px;
      text-align: right;
      line-height: 45px;
      margin: 0px 30px 10px 0;
      padding: 50px 10px 0px 0px;
      color: #333333;
    }


    .greenText {
      color: #89B209;
      font-style: italic;
    }

    .blueText {
      color: #18897E;
      font-style: italic;
    }

    /* 'read more' link */

    a.readMoreLink {
      display: block;
      color: #333333;
      position: relative;
      margin-right: 30px;
      float: right;
      width: 100px;
      padding-right: 30px;
    }

    a.readMoreLink:hover, a.readMoreLink *:hover {
      color: $linkColor;
    }

    a.readMoreLink div {
      position: absolute;
      top: 0;
      left: 0;
      width: 120px;
      font-family: WebSymbols;
      color: #666666;
      margin-right: 45px;
    }

    /* services bar */

    .services {
      background: rgba(82,82,82,0.9);
      height: 140px;
      width: auto;
      position: relative;
      margin-top: 110px;
      display: block;

      a {
        display: inline-block;
        font-family: aller_lightregular;
        float: right;
        margin: 0px 30px;
        padding-top: 5px;
        padding-right: 10px;
        text-align: center;
        color: white;
        width: 180px;
        font-size: 11pt;
        line-height: 130%;

        strong {
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          display: block;
          margin: 15px 0;
        }
      }

      a:hover {
        color: $linkColor;
      }
    }
  }

  /* secondary content */
  .connectHome {
    background: #373737;
    margin: 0px auto;
    padding: 2%;
    overflow: auto;
    width: auto;
    height: auto;
    text-align: left;
    display: block;
    position: relative;
    color: white;
    clear: both;

    .connectSection {
      width: 80%;
      float: left;
      background: inherit;
      margin: 0 auto;
      padding: 1% 1% 5% 1%;

      @media screen and (min-width: 1100px) {
        width: 30%;
        padding: 1%;

        &.contact {
          padding-left: 5%;
          width: 25%;
        }
      }

      h1 {
        margin: 10px 0 20px 0;
        padding: 0;
        text-align: left;
        color: #86B2B2;
        font-size: 18px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }

      .icons {
        font-size: 24px;
        color: $linkColor;
        letter-spacing: 1.5px;
        margin: 0;
      }
    }
  }
}

.home {
  @media screen and (max-width:1070px) {
    .bigLogo {
      width: 30%;

      img {
        width: 100%;
      }
    }

    .connectHome .connectSection {
      width: 45%;
      float: left;

      &.twitter {
        float: right;
      }
    }
  }

  @media screen and (max-width:850px) {
    div.banner {
      .bannerLogo {
        width: 100%;
        margin: 0 auto;
        text-align: center;

        img {
          width: 224px;
          height: 76px;
          float: none;
        }
      }
    }

    .bigLogo {
      display: none;
    }

    .mainContent .services a {
      margin: 0 1%;
      padding: 0;
      width: 30%;
    }  
  }

  @media screen and (max-width:575px) {
    .mainContent {
      h1 {
        padding: 5px 0 0;
        margin: 10px 0;
        text-align: center;
        line-height: 1.5;
        font-size: 130%;
      }
      .services {
        height: 275px;
        margin-top: 40px;

        a {
          width: 100%;
          margin: 1% 1% 2%;
          padding: 0;
        }
      }
    }

    .connectHome .connectSection {
      width: 100%;
      float: left;

      &.twitter {
        float: left;
      }
    }
  }
}
