/* variables */
$linkColor: #FF8B00;
$lightGray: rgb(73,73,73);
$darkGray: rgb(35,35,35);
$gray1: rgb(102,102,102);
$gray2: rgb(200,200,200);

/* HTML5 tags */
header, section, footer, aside, nav, article, figure { display: block; }

/* general body stuff */

html, body {
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: aller_lightregular;
  background: #666;
  line-height: 150%;
  color: #666;
}

h1, h2, h3 {
  color: black;
}

/* banner */
div.banner {
  padding: 20px;
  height: 120px;
  width: auto;
  background-image: url('bannerPrint.png');
  background-repeat: repeat;

  .bannerLogo img {
    float: left;
    border: none;
  }

  .breadcrumb {
    float: left;
    font-family: LeagueGothicRegular;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 32pt;
    margin: 30px 0 0 20px;
    color: #333;
  }

  div.nav {
    float: right;
    font-family: LeagueGothicRegular;
    font-weight: 400;
    font-size: 20px;
    height: 40px;
    width: auto;
    margin: 30px 0 0 0;

    ul {
      list-style: none;
      margin: 0 auto;
      width: auto;
    }

    li {
      float: left;
      display: inline;
      margin: 0;
    }

    a {
      color: white;
      display: inline-block;
      height: 30px;
      padding: 3px 1em;
      text-decoration: none; text-transform: uppercase;
    }

    a:hover {
      color: black;
    }
  }
}

/* main section */
.main {
  /* section background and margins*/
  background: url('aboutLeaf.png') no-repeat 52% 120px white;
  padding: 40px;
  min-height: 450px;

  @media screen and (max-width: 600px) {
    padding: 40px 20px;
  }

  /* two column layout */
  div.leftCol, div.rightCol {
    display: inline-block;
    width: 25%;
    text-align: left;
    vertical-align: top;
  }

  div.leftCol {
    margin-right: 60px;
  }
  div.rightCol {
    margin-left: 60px;
  }
}

/* footer */
div.footer {
  background-color: $darkGray;
  display: block;
  position: relative;
  text-align: center;
  font-size: 16px;
  color: $gray2;
  padding: 5px 40px;
  clear: both;
}

/* general links */
a {
  text-decoration: none;
}
a {
  color: $linkColor;
}
a:hover {
  color: #9e5600;
}

/* divider */
div.divider {
  height: 20px;
  background: url("dividerTriangle.png") no-repeat center top;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: 40px 100px 20px 100px;
}

div.clearer {
  clear: both;
  height: 0;
}


/* embedded fonts */
@font-face {
  font-family: 'LeagueGothicRegular';
  src: font-url('League_Gothic-webfont.eot');
  src: local(League_Gothic-webfont), font-url('League_Gothic-webfont.eot?#iefix') format('embedded-opentype'), font-url('League_Gothic-webfont.woff') format('woff'), font-url('League_Gothic-webfont.ttf') format('truetype'), font-url('League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'allerregular';
  src: font-url('aller_rg-webfont.eot');
  src: local('aller_rg-webfont'),font-url('aller_rg-webfont.eot?#iefix') format('embedded-opentype'), font-url('aller_rg-webfont.woff') format('woff'), font-url('aller_rg-webfont.ttf') format('truetype'), font-url('aller_rg-webfont.svg#allerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aller_lightregular';
  src: font-url('aller_lt-webfont.eot');
  src: local('aller_lt-webfont'),font-url('aller_lt-webfont.eot?#iefix') format('embedded-opentype'), font-url('aller_lt-webfont.woff') format('woff'), font-url('aller_lt-webfont.ttf') format('truetype'), font-url('aller_lt-webfont.svg#aller_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WebSymbols';
  src: font-url('WebSymbols-Regular-webfont.eot');
  src: local('WebSymbols-Regular-webfont'),font-url('WebSymbols-Regular-webfont.eot?#iefix') format('embedded-opentype'), font-url('WebSymbols-Regular-webfont.woff') format('woff'), font-url('WebSymbols-Regular-webfont.ttf') format('truetype'), font-url('WebSymbols-Regular-webfont.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.section {
  width: 60%;
  margin: 0 auto;

  section, .content-block {
    margin: 3em 0;
  }
}

h2 {
  margin-top: 0;
}

.coop-logo {
  width: 75px;
  margin: 0 .25em;
  vertical-align: middle;
}

.divider {
  margin: 50px 0;
}
