.markdown {
  h1, h2, h3, h4 {
    text-transform: uppercase;
  }
  h1, h3 {
    font-family: LeagueGothicRegular;
    font-weight: 400;
  }
  h2, h4 {
    font-family: allerregular;
    font-weight: bold;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
  }
  h2 {
    font-size: 1.65rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }

  h2 {
    margin-top: 3rem;
  }

  li {
    strong {
      font-family: allerregular;
      font-weight: bold;
    }
  }
}
