@media screen and (max-width: 850px) {
  div.banner {
    div.nav {
      width: 100%;
      text-align: center;
      margin: 15px 0 0;
      ul {
        width: 100%;
        margin: 0;
        padding: 0;
      }
      li {
        float: none;
        margin: 0 10px;
      }
      a {
        padding: 1% 2%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  div.banner {
    .bannerLogo img {
      width: 50%;
    }
    .breadcrumb {
      box-sizing: border-box;
      width: 50%;
      margin: 0;
      padding-left: 5%;
      font-size: 2em;
      line-height: 2;
      text-align: center;
    }
    div.nav {
      li {
        margin: 0;
      }
    }
  }
}
