.our_work {
  .main {
    text-align: left;

    /* turn off watermark */
    background-image: none;

    /* client rows */
    div.client {
      overflow-y: auto;

      /* main image */
      > img {
        width: 300px;
        height: 225px;
        border: 2px solid #aaa;
        float: left;
      }

      /* blurbs and vignettes */
      div.info {
        margin-left: 344px;

        /* title */
        h2 {
          font-family: LeagueGothicRegular;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 20pt;
          margin-top: 0;
        }

        /* main text blurb */
        > div.blurb {
          text-align: justify;
        }

        /* 2 vignettes */
        div.vignettes {
          margin-top: 20px;

          > div {
            display: inline-block;
            display: inline-flex;
            width: 45%;
            vertical-align: top;
            margin-right: 20px;
          }

          img {
            display: inline-block;
            max-width: 133px;
            max-height: 100px;
            border: 1px solid #aaa;
            margin-right: 20px;
          }
        }
      }
    }
  }

  @media screen and (max-width:999px) {
    div.main {
      padding: 20px;

      div.client {
        > img {
          float: none;
          width: 200px;
          height: auto;
          display: block;
          margin: 0 auto;
          text-align: center;
        }

        div.info {
          margin-left: 0;
          clear: left;
          margin-top: 20px;

          > h2 {
            text-align: center;
          }

          div.vignettes {
            > div {
              width: auto;
              height: 150px;
            }
          }
        }
      }
    }

    div.divider {
      margin: 40px 0 20px;
    }
  }

  @media screen and (max-width:400px) {
    div.main {
      padding: 15px;

      div.client {
        > img {
          width: 200px;
        }

        div.info {
          div.vignettes {
            > div {
              width: 100%;
              height: auto;
              display: block;
            }

            img {
              float: none;
              display: block;
              margin: 5px auto;
              text-align: center;
            }

            .blurb {
              float: none;
              display: block;
              margin: 5px auto 15px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
