.our_work {
  div.main {
    text-align: left;

    /* turn off watermark */
    background-image: none;

    /* client rows */
    div.client {
      overflow-y: auto;

      /* main image */
      > img {
        width: 300px;
        height: 225px;
        border: 2px solid #aaa;
        float: left;
      }

      /* blurbs and vignettes */
      div.info {
        margin-left: 344px;

        /* title */
        h2 {
          font-family: LeagueGothicRegular;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 20pt;
          margin-top: 0;
        }

        /* main text blurb */
        > div.blurb {
          text-align: justify;
        }

        /* 2 vignettes */
        div.vignettes {
          margin-top: 20px;


          > div {
            display: inline-block;
            width: 350px;
            vertical-align: top;
            margin-right: 20px;
          }

          /* vignette image */
          img {
            width: 133px;
            height: 100px;
            border: 1px solid #aaa;
            float: left;
            margin-right: 20px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  @media screen and (max-width:900px) {
    div.main {
      padding: 20px;

      div.client {

        > img {
          float: none;
        }

        div.info {
          margin-left: 0;
          clear: left;
          margin-top: 20px;

          div.vignettes > div {
            width: auto;
            height: 150px;
          }
        }
      }
    }

    div.divider {
      margin: 40px 0 20px;
    }
  }
}