.services {

  div.main {
    padding: 40px 0;
  }

  .category {
    /*background: rgba(27, 27, 25, 0.7); */
    width: 100%;
    text-align: justify;
    padding: 10px 15px 20px;
    vertical-align: top;
    box-sizing: border-box;

    @media screen and (min-width: 701px) and (max-width:1000px) {
      width: 50%;
      float: left;

      &.category1 {
        border-left: 1px dashed gray;
      }

      &.category2 {
        clear: left;
      }
    }

    @media screen and (min-width:1001px) {
      width: 33%;
      float: left;

      &.category1, &.category2 {
        border-left: 1px dashed gray;
      }
    }

    /* category heading */
    h2 {
      margin: 0 0 10px 0;
      font-family: LeagueGothicRegular;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 26px;
      padding: 8px 0 0 50px;
      height: 40px;
      background-position: -5px 0;
      background-repeat: no-repeat;
    }

    /* different color logos */
    &.category0 h2 {
      background-image: url("logoBlue.png");
    }

    &.category1 h2 {
      background-image: url("logoGreen.png");
    }

    &.category2 h2 {
      background-image: url("logoOrange.png");
    }

    /* individual service */
    > div {

      margin-bottom: 20px;

      h3 {
        font-family: allerregular;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #333333;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      p {
        margin: 0;

        /* more/less link */
        a {
          float: right;
        }
      }

      p.longBlurb {
        display: none;
      }
    }

  }
}
