.team {
  .main {
    background: white;
  }

  h2 {
    font-family: LeagueGothicRegular;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20pt;
    margin: 10px;
  }

  h3 {
    margin: 5px;
  }

  .personContainer {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 33%;
    margin: 0;
    padding: 1% 2%;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    @media screen and (min-width:601px) and (max-width:1024px) {
      width: 49.5%;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    img {
      border-radius: 80px;
      height: 150px;
    }

    p {
      &.bio {
        text-align: justify;
      }
    }

    a .fa {
      font-size: 25px;
      margin: 2px;
    }

  }

  .social {
    height: 30px;
  }
}
